<launch>

    <arg name="project" default="liorf"/>
    
    <!-- Parameters -->
    <rosparam file="$(find liorf)/config/mulran.yaml" command="load" />

    <!--- LOAM -->
    <include file="$(find liorf)/launch/include/module_loam.launch" />

    <!--- Robot State TF -->
    <!-- <include file="$(find liorf)/launch/include/module_robot_state_publisher.launch" /> -->

    <!--- Run Navsat -->
    <!-- <include file="$(find liorf)/launch/include/module_navsat.launch" /> -->

    <!--- Run Rviz-->
    <include file="$(find liorf)/launch/include/module_rviz.launch" />

</launch>
